<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoOl</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @RenderSection("Styles", false)
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>
<body style="background-color: #f2f7f7">
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-2">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/img/logo.png" alt="">
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse navbar-nav-scroll">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link font-weight-bolder" asp-page="/Account/Login" asp-page-handler="LogOut" onclick="return confirm('Ви дійсно хочете вийти?');">Вихід</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1">
                            @*<li class="nav-item">
                                <a class="nav-link font-weight-bolder" asp-page="/Index">Дашборд</a>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link font-weight-bolder" asp-page="/Orders/Index">Замовлення</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bolder" asp-page="/Customers/Index">Клієнти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bolder" asp-page="/Workers/Index">Співробітники</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bolder" asp-page="/Storages/Index">Склад</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bolder" asp-page="/Services/Index">Послуги</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font-weight-bolder" asp-page="/Types/Index">Моделі</a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <ul class="navbar-nav flex-row d-flex">
                        <li class="nav-item">
                           <a class="nav-link font-weight-bolder" asp-page="/Account/Login">Вхід</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BoOl - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
