@page
@model BoOl.Pages.Types.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="card border-dark ml-5 mr-5">
        <div class="card-header">
            <h2 class="text-center">Редагувати модель</h2>
        </div>
        <form method="post">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <input type="reset" class="btn btn-outline-warning" value="Очистити все" />
                </div>
                <input type="hidden" asp-for="Model.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row d-center justify-content-center p-2">
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label asp-for="Model.Manufacturer" class="control-label col-md-2">Виробник*</label>
                    <div class="input-group col-md-5">
                        <input asp-for="Model.Manufacturer" class="form-control col-12" id="Name" aria-describedby="button-addon1" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.getElementById('Name').value = ''">X</button>
                    </div>
                    <div class="col-md-2">
                        <span asp-validation-for="Model.Manufacturer" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label asp-for="Model.Type" class="control-label col-md-2">Модель*</label>
                    <div class="input-group col-md-5">
                        <input asp-for="Model.Type" class="form-control col-12" id="Type" aria-describedby="button-addon2" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="document.getElementById('Type').value = ''">X</button>
                    </div>
                    <div class="col-md-2">
                        <span asp-validation-for="Model.Manufacturer" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-flex justify-content-end">
                    <input type="submit" value="Зберегти" class="btn btn-outline-success mr-1" />
                    <a class="btn btn-outline-secondary" asp-page="./Index">Скасувати</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
