@page
@model BoOl.Pages.Orders.CreateModel


@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="card border-dark">
        <div class="card-header">
            <h2 class="text-center">Додати замовлення</h2>
            <h5 class="text-center">Власник: @Html.DisplayFor(modelItem => Model.Customer.LastName) @Html.DisplayFor(modelItem => Model.Customer.FirstName)</h5>
        </div>
        <form method="post">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <input type="reset" class="btn btn-outline-warning" value="Очистити все" />
                </div>
                <input asp-for="Order.CustomerId" hidden />
                <input asp-for="Order.WorkerId" hidden />
                <input asp-for="Order.Status" hidden />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row d-center justify-content-center p-2">
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label asp-for="Order.ProductId" class="control-label col-md-3">Техніка*</label>
                    <div class="input-group col-md-5">
                        <select asp-for="Order.ProductId" class="form-control" asp-items="ViewBag.ProductId" id="ProductId" aria-describedby="button-addon1"></select>
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.getElementById('ProductId').value = ''">X</button>
                    </div>
                    <div class="col-md-3"><span asp-validation-for="Order.ProductId" class="text-danger"></span></div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label asp-for="Order.DateOfAdmission" class="control-label col-md-3">Дата прийому*</label>
                    <div class="input-group col-md-5">
                        <input asp-for="Order.DateOfAdmission" type="date" class="form-control" id="Date" aria-describedby="button-addon1" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.getElementById('Date').value = ''">X</button>
                    </div>
                    <div class="col-md-3"><span asp-validation-for="Order.DateOfAdmission" class="text-danger"></span></div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label asp-for="Order.DateOfIssue" class="control-label col-md-3">Дата видачі</label>
                    <div class="input-group col-md-5">
                        <input asp-for="Order.DateOfIssue" type="date" class="form-control" id="DateIssue" aria-describedby="button-addon1" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.getElementById('DateIssue').value = ''">X</button>
                    </div>
                    <div class="col-md-3"><span asp-validation-for="Order.DateOfIssue" class="text-danger"></span></div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label asp-for="Order.Discount" class="control-label col-md-3">Знижка</label>
                    <div class="input-group col-md-5">
                        <input asp-for="Order.Discount" class="form-control" id="Discount" aria-describedby="button-addon3" />
                        <button class="btn btn-outline-secondary" type="button" id="button-addon3" onclick="document.getElementById('Discount').value = ''">X</button>
                    </div>
                    <div class="col-md-3"><span asp-validation-for="Order.Discount" class="text-danger"></span></div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <label asp-for="Order.Payment" class="control-label col-md-3">Оплачено</label>
                    <div class="input-group d-flex justifu-content-start col-md-5">
                        <input asp-for="Order.Payment" />
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Зберегти" class="btn btn-outline-success mr-1" />
                    <a class="btn btn-outline-secondary" asp-page="/Customers/Details" asp-route-id="@Model.Customer.Id">Скасувати</a>
                </div>
            </div>
        </form>
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
