@page
@model BoOl.Pages.Types.IndexModel

@{
    ViewData["Title"] = "Models";
}


<div class="row">
    <div class="col-11">
        <h1 class="text-center">Моделі</h1>
    </div>
    <div class="col-1">
        <a asp-page="Create"><i class="fas fa-plus"></i></a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Виробник
            </th>
            <th>
                Модель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>
