@page
@model BoOl.Pages.Position.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <h3 class="col-10">Ви дійсно хочете видалити дану посаду?</h3>
    <div class="col-2">
        <a asp-page="./Details" asp-route-id="@Model.Position.Id"><i class="fas fa-arrow-left"></i></a>
    </div>
</div>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Посада
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Name)
        </dd>
        <dt class="col-sm-2">
            Зарплата
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.Salary)
        </dd>
        <dt class="col-sm-2">
            Процент від роботи
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position.PercentageOfWork)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Position.Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
    </form>
</div>
