@page
@model BoOl.Pages.Workers.CreateModel


@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="card border-dark">
        <div class="card-header">
            <h2 class="text-center">Додати співробітника</h2>
        </div>
        <form method="post">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <input type="reset" class="btn btn-outline-warning" value="Очистити все" />
                </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.LastName" class="control-label col-md-3">Прізвище*</label>
                        <div class="input-group col-md-5">
                            <input asp-for="Worker.LastName" class="form-control" id="LastName" aria-describedby="button-addon1" />
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1" onclick="document.getElementById('LastName').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.LastName" class="text-danger"></span></div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.FirstName" class="control-label col-md-3">Ім'я*</label>
                        <div class="input-group col-md-5">
                            <input asp-for="Worker.FirstName" class="form-control" id="FirstName" aria-describedby="button-addon3" />
                            <button class="btn btn-outline-secondary" type="button" id="button-addon3" onclick="document.getElementById('FirstName').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.FirstName" class="text-danger"></span></div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.MiddleName" class="control-label col-md-3">По-батькові*</label>
                        <div class="input-group col-md-5">
                            <input asp-for="Worker.MiddleName" class="form-control" id="MiddleName" aria-describedby="button-addon5" />
                            <button class="btn btn-outline-secondary" type="button" id="button-addon5" onclick="document.getElementById('MiddleName').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.MiddleName" class="text-danger"></span></div>
                    </div>

                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.PhoneNumber" class="control-label col-md-3">Номер телефону*</label>
                        <div class="input-group col-md-5">
                            <input asp-for="Worker.PhoneNumber" class="form-control" id="PhoneNumber" aria-describedby="button-addon2" />
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="document.getElementById('PhoneNumber').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.PhoneNumber" class="text-danger"></span></div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.Address" class="control-label col-md-3">Адреса*</label>
                        <div class="input-group col-md-5">
                            <input asp-for="Worker.Address" class="form-control" id="Address" aria-describedby="button-addon8" />
                            <button class="btn btn-outline-secondary" type="button" id="button-addon8" onclick="document.getElementById('Address').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.Address" class="text-danger"></span></div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.DateOfBirth" class="control-label col-md-3">Дата народження*</label>
                        <div class="input-group col-md-5">
                            <input asp-for="Worker.DateOfBirth" type="date" class="form-control" id="DateOfBirth" aria-describedby="button-addon4" />
                            <button class="btn btn-outline-secondary" type="button" id="button-addon4" onclick="document.getElementById('DateOfBirth').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.DateOfBirth" class="text-danger"></span></div>
                    </div>

                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.Education" class="control-label col-md-3">Освіта*</label>
                        <div class="input-group col-md-5">
                            <input asp-for="Worker.Education" class="form-control" id="Education" aria-describedby="button-addon6" />
                            <button class="btn btn-outline-secondary" type="button" id="button-addon6" onclick="document.getElementById('Education').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.Education" class="text-danger"></span></div>
                    </div>

                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.PositionId" class="control-label col-md-3">Посада*</label>
                        <div class="input-group col-md-5">
                            <select asp-for="Worker.PositionId" asp-items="ViewBag.PositionId" class="form-control" aria-describedby="button-addon9" id="Position"></select>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon9" onclick="document.getElementById('Position').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.PositionId" class="text-danger"></span></div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                        <label asp-for="Worker.DateOfEmployment" class="control-label col-md-3">Дата прийому*</label>
                        <div class="input-group col-md-5">
                            <input asp-for="Worker.DateOfEmployment" type="date" class="form-control" id="DateOfEmployment" aria-describedby="button-addon7" />
                            <button class="btn btn-outline-secondary" type="button" id="button-addon7" onclick="document.getElementById('DateOfEmployment').value = ''">X</button>
                        </div>
                        <div class="col-md-3"><span asp-validation-for="Worker.DateOfEmployment" class="text-danger"></span></div>
                    </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Зберегти" class="btn btn-outline-success mr-1" />
                    <a class="btn btn-outline-secondary" asp-page="./Index">Скасувати</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
