@page
@model BoOl.Pages.Storages.CreateModel


@{
    ViewData["Title"] = "Create";
}


<h4 class="text-center">Створити </h4>
<hr />

<div class="row">
    <div class="col-sm-1">
        <a asp-page="./Index"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="col-sm-11">
        <form method="post">
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-sm-6">
                    <label asp-for="Storage.Name" class="control-label">Назва *</label>
                    <div class="form-inline">
                        <input asp-for="Storage.Name" class="form-control col-10" />
                        <input type="reset" class="btn-light form-control col-1" value="X" />
                    </div>
                    <span asp-validation-for="Storage.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Storage.PurchasePrice" class="control-label">Закупівельна ціна *</label>
                    <div class="form-inline">
                        <input asp-for="Storage.PurchasePrice" class="form-control col-10" />
                        <input type="reset" class="btn-light form-control col-1" value="X" />
                    </div>
                    <span asp-validation-for="Storage.PurchasePrice" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Storage.Manufacturer" class="control-label">Виробник *</label>
                    <div class="form-inline">
                        <input asp-for="Storage.Manufacturer" class="form-control col-10" />
                        <input type="reset" class="btn-light form-control col-1" value="X" />
                    </div>
                    <span asp-validation-for="Storage.Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Storage.WholesalePrice" class="control-label">Оптова ціна *</label>
                    <div class="form-inline">
                        <input asp-for="Storage.WholesalePrice" class="form-control col-10" />
                        <input type="reset" class="btn-light form-control col-1" value="X" />
                    </div>
                    <span asp-validation-for="Storage.WholesalePrice" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Storage.Manufacturer" class="control-label">Виробник *</label>
                    <div class="form-inline">
                        <input asp-for="Storage.Manufacturer" class="form-control col-10" />
                        <input type="reset" class="btn-light form-control col-1" value="X" />
                    </div>
                    <span asp-validation-for="Storage.Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Storage.WholesalePrice" class="control-label">Оптова ціна *</label>
                    <div class="form-inline">
                        <input asp-for="Storage.WholesalePrice" class="form-control col-10" />
                        <input type="reset" class="btn-light form-control col-1" value="X" />
                    </div>
                    <span asp-validation-for="Storage.WholesalePrice" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <input type="submit" value="Зберегти" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<h1>Create</h1>

<h4>Storage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Storage.Name" class="control-label"></label>
                <input asp-for="Storage.Name" class="form-control" />
                <span asp-validation-for="Storage.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage.Manufacturer" class="control-label"></label>
                <input asp-for="Storage.Manufacturer" class="form-control" />
                <span asp-validation-for="Storage.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage.Quantity" class="control-label"></label>
                <input asp-for="Storage.Quantity" class="form-control" />
                <span asp-validation-for="Storage.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage.PurchasePrice" class="control-label"></label>
                <input asp-for="Storage.PurchasePrice" class="form-control" />
                <span asp-validation-for="Storage.PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage.WholesalePrice" class="control-label"></label>
                <input asp-for="Storage.WholesalePrice" class="form-control" />
                <span asp-validation-for="Storage.WholesalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage.RetailPrice" class="control-label"></label>
                <input asp-for="Storage.RetailPrice" class="form-control" />
                <span asp-validation-for="Storage.RetailPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage.DateOfArrival" class="control-label"></label>
                <input asp-for="Storage.DateOfArrival" class="form-control" />
                <span asp-validation-for="Storage.DateOfArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Storage.ModelId" class="control-label"></label>
                <select asp-for="Storage.ModelId" class="form-control" asp-items="ViewBag.ModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Storage.WorkerId" class="control-label"></label>
                <select asp-for="Storage.WorkerId" class="form-control" asp-items="ViewBag.WorkerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
